.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #121620;
}

.mat-card {
  margin: 20px;
  width: 300px;
  padding-bottom: 50px;
  background-color: #1c212e;
}

mat-card-title,
mat-card-subtitle {
  color: white;
}

.mat-card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-card-btn {
  background-color: #ffc000;
  color: #121620;
  width: 150px;
  display: inline-block;
}

.movie-card-btn:hover {
  background-color: #e6c664;
}

img {
  display: block;
  width: 250px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 10px;
}
