.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #121620;
  height: 100%;
}

span {
  color: #ffc000;
}

.container-row {
  // display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #121620;
  color: white;
  // height: 30vh;
  width: 100%;
  // display: inline-block;
  display: flex;
}

.col1 {
  width: 50%;
  line-height: 70px;
  text-transform: uppercase;
  float: left;
  // height: 100px;
  margin: 30px;
  font-size: 75px;
  flex: 1;
  padding: 50px;
  font-weight: bold;
}

.col2 {
  width: 50%;
  float: right;
  // height: 100px;
  margin: 30px;
  flex: 1;
  padding: 50px;
  font-size: 20px;
  line-height: 25px;
}

@media (max-width: 800px) {
  .col1 {
    padding-bottom: 0px;
  }

  .col2 {
    padding-top: 10px;
  }
}

@media (max-width: 500px) {
  .col1 {
    font-size: 50px;
    line-height: 45px;
    padding: 10px;
    margin-bottom: 0px;
  }

  .col2 {
    margin: 0px;
  }
}

.mat-card {
  margin: 20px;
  width: 300px;
  padding-bottom: 50px;
  background-color: #1c212e;
}

mat-card-title,
mat-card-subtitle {
  color: white;
}

.mat-card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-card-btn {
  background-color: #ffc000;
  color: #121620;
  width: 150px;
  display: inline-block;
}

.movie-card-btn:hover {
  background-color: #e6c664;
}

img {
  display: block;
  width: 250px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 10px;
}
