.background {
  background-color: #121620;
  height: 100%;
}

.profile-card {
  margin: 0 auto;
  top: 10px;
  width: 50%;
  color: white;
  background-color: #1c212e;
  padding: 50px;
}

.update-btn {
  background-color: #ffc000;
  color: black;
}

.update-btn:hover {
  background-color: #ffdb6e;
}

.favorite-movies {
  position: relative;
  // top: 50px;
  text-align: center;
  color: white;
  margin-top: 40px;
  margin-bottom: -20px;
}

.header-text {
  margin: 0 -16px;
  margin-bottom: 15px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #121620;
}

.favorites-cards {
  top: 50px;
  width: 300px;
  padding-bottom: 50px;
  margin: 20px;
  background-color: #1c212e;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  color: white;
}

mat-card-subtitle {
  color: white;
}

img {
  display: block;
  width: 250px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 10px;
}

.remove-btn {
  text-align: center;
}
